@using NitelikliGenc.MVC.Admin.Controllers
@model IEnumerable<UserController.User>
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Surname</th>
                      <th>Username</th>
                      <th>Phone Number</th>
                    </tr>
                  </thead>
                  <tbody>
                   @{
                     foreach (var item in Model)
                     {
                       <tr>
                         <td>@item.Id</td>
                         <td>@item.Name</td>
                         <td>@item.Surname</td>
                         <td>@item.Username</td>
                         <td>@item.PhoneNUmber</td>
                       </tr>
                     }
                   }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>