
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="index.html">
						<i class="fab fa-linode"></i> NotNet Core Blog</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					@* @{ *@
					@* 	if (!isLogin) *@
					@* 	{ *@
					@* 		<span class="mx-lg-4 mx-md-2  mx-1"> *@
					@* 			<a href="@Url.Action("Login", "Auth")"> *@
					@* 				<i class="fas fa-lock"></i> Giriş yap</a> *@
					@* 		</span> *@
					@* 		<span> *@
					@* 			<a href="@Url.Action("Register","Auth")"> *@
					@* 				<i class="far fa-user"></i> Kayıt ol</a> *@
					@* 		</span> *@
					@* 	}  *@
					@* } *@

				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Index","Blog")">Bloglar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Index","Contact")">İletişim</a>
						</li>
					</ul>
					<ul class="navbar-nav mr-right">
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Logout","Auth")">Çıkış</a>
							</li>
					</ul>
				</div>
			</nav>

		</div>
	</header>